body, html{
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

#navbar, .footer{
    font-size: 16px;
}

h1, h2, h3, .footer {
    font-family: 'Courier New', Courier, monospace;
}

h3{
    color: grey;
    margin-top: 0;
}

h2{
    margin-bottom: 0;
}

#navbar, h1, h2{
    /*Fade in animation*/
    animation: fadeInAnimation ease 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

p, i, img, #content, #content ul, #content a {
    /*Fade in animation*/
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    line-height: 1.5;
}

.footer p, .footer i{
    /*Fade in animation*/
    animation: fadeInAnimation ease 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}