html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.wrapper {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}

#center_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    max-height: calc(100vh - 100px);
}

#center_wrapper h1 {
    max-width: 27em;
}

#center_wrapper div {
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

#content {
    max-width: 55em;
    max-height: 77vh;
    overflow-y: auto;
}

#navbar {
    padding-bottom: 6em;
}

.footer {
    width: 1000px;
    text-align: center;
    align-self: center;
}

img {
    /*width: 100%;*/
    max-width: 55em;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper{
        display: block;
        padding: 0;
    }
    #navbar {
        padding-bottom: 0;
    }
    #content {
        overflow-y: auto;
    }
    #center_wrapper {
        max-height: calc(100vh - 200px);
    }
    .footer{
        width: 100vw;
    }
    h1{
        text-align: center;
    }
}

@media only screen and (max-height: 300px){
    .footer {
        display: none;
    }
}