#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.nav li a:hover {
    background-color: #555;
    color: white;
}

.nav li a.active {
    background-color: grey;
    color: white;
}

@media only screen and (max-width: 1000px) {
    #navbar ul {
        display: flex;
    }
    .nav li {
        padding: 0;
        width: 20%;
    }
    .nav li a{
        padding-left: 2px;
        padding-right: 2px;
        text-align: center;
    }
}