ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}


li a:hover {
    background-color: #555;
    color: white;
}

li a.active {
    background-color: grey;
    color: white;
}